config {

    testsDir "tests"
    // workDir ".nf-test"
    workDir System.getenv("NFT_WORKDIR") ?: ".nf-test"
    // configFile "tests/nextflow.config"
    configFile "tests/config/nf-test.config"
    profile ""

    // load the necessary plugins
    plugins {
        load "nft-bam@0.3.0"
        load "nft-compress@0.1.0"
        load "nft-vcf@1.0.7"
    }

}
